:root {
  --background: #02040a;
  --foreground: #f8faff;
  --card: #0c112b;
  --card-foreground: #f1f5ff;
  --popover: #05070f;
  --popover-foreground: #f8faff;
  --primary: #bc2cff;
  --primary-foreground: var(--background);
  --secondary: #22e7ff;
  --secondary-foreground: #02040a;
  --muted: #171d3d;
  --muted-foreground: #c9d3f8;
  --accent: #22e7ff;
  --accent-foreground: #02040a;
  --destructive: #ff3e3e;
  --destructive-foreground: var(--background);
  --border: #1e254d;
  --input: #171d3d;
  --ring: #22e7ff;
  --radius: 1.25rem;
  --input-background: #0c112b;
  --switch-background: #171d3d;
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #bc2cff;
  --chart-2: #22e7ff;
  --chart-3: var(--background);
  --chart-4: #1e254d;
  --chart-5: #171d3d;
  --sidebar: #02040a;
  --sidebar-foreground: #f8faff;
  --sidebar-primary: #bc2cff;
  --sidebar-primary-foreground: var(--background);
  --sidebar-accent: #0c112b;
  --sidebar-accent-foreground: #22e7ff;
  --sidebar-border: #1e254d;
  --sidebar-ring: #22e7ff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
}
